{#{% set currentVisit = getCurrentVisit(app.user) %}#}

{#{% if currentVisit %}#}
    {#<a class="nav-item nav-link" href="{{ path('visit_arrange') }}">#}
        {#{{ 'visit.action.default'|trans|format(1) }}#}
    {#</a>#}
{#{% else %}#}
    {#<a class="nav-item nav-link" href="#">#}
        {#{{ 'visit.action.default'|trans|format(0) }}#}
    {#</a>#}
{#{% endif %}#}
