{% extends 'base.html.twig' %}

{% block title %}Mobile Service index{% endblock %}

{% block body %}
    <h1> User</h1>
    <h1>Mobile Service page</h1>

    <input type="submit" value="Order mobile service NR.1" >
    <input type="submit" value="Order mobile service NR.2" >
    <input type="submit" value="Order mobile service NR.3" >
     <a href="/telecom">Back to telecom main page</a>
    {# <a href="{{ path('service_index') }}">Back to service page</a> #}
{% endblock %}
