{% extends 'admin_base.html.twig' %}

{% block title %}Service index{% endblock %}

{% block body %}
<h1>ADMIN</h1>
<h1>Mobile Service Special Offer</h1>

<h3>Mobile Service Title</h3>
<h3>Mobile Service Price</h3>
<h3>Mobile Service Special Offer, %</h3> <input type="submit" value="Create">

<br>
    <a href="/service/admin/mobile">Back to mobile service page</a>
    <br>
     <a href="/telecom/admin">Back to telecom page</a>
{% endblock %}