{% extends 'admin_base.html.twig' %}

{% block title %}Prisijungimų statistika{% endblock %}

{% block body %}
    <h1>Prisijungimų statistika</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Apsilankymo data</th>
                <th>Ip</th>
            </tr>
        </thead>
        <tbody>
        {% for server_visit in server_visits %}
            <tr>
                <td>{{ server_visit.id }}</td>
                <td>{{ server_visit.visitDate ? server_visit.visitDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ server_visit.ip }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
