<form method="post" action="{{ path('message_request_delete', {'id': message_request.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ message_request.id) }}">
    <button class="btn">Delete</button>
</form>
