{% extends 'base.html.twig' %}

{% block title %}Nauja žinutė{% endblock %}
{% block mainHeader %}<h1>Nauja žinutė</h1>{% endblock %}

{% block body %}
    {{ include('message_request/_form.html.twig') }}
    <a href="{{ path('message_request_index') }}">Atgal į sąrašą</a>
{% endblock %}
