<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/css/main.css') }}">
        {% endblock %}
    </head>
    <body>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <a href="/">Puslapis 1</a>
                <a href="/telecom">Telecom</a>
                <a href="/">Puslapis 3</a>
                <a href="/">Puslapis 4</a>
                <a href="/">Puslapis 5</a>
            </div>
        </div>
        {% block body %}
        {% endblock %}
    </div>
    {% block javascripts %}
        <script src="{{ asset('build/js/main.js') }}"></script>
    {% endblock %}
    </body>
</html>
