{% extends 'base.html.twig' %}

{% block title %}Telecom system{% endblock %}

{% block body %}
    <h1>Telecommunication system main view</h1>
    <br>
    <button onclick="location.href='http://localhost:8000/service/mobile'" class="btn btn-primary" type="button">
     Order mobile service plan</button>
       <button onclick="location.href='http://localhost:8000/order/view'" class="btn btn-primary" type="button">
     View Order</button>
{% endblock %}
