{% extends 'base.html.twig' %}

{% block title %}Paslaugos{% endblock %}

{% block mainHeader %}<h1>Paslaugos</h1>{% endblock %}

{% block body %}
    <a href="{{ path('service_mobile_index') }}"
            class="btn btn-primary"
            type="button">
        Telekomunikacijų paslaugos
    </a>
{% endblock %}
