{% extends 'admin_base.html.twig' %}

{% block title %}Redaguoti naudotoją{% endblock %}

{% block body %}
    <h1>Redaguoti naudotoją</h1>

    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('user_index') }}">Atgal į sąrašą</a>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
