{% extends 'admin_base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <h1>Kurti naują naudotoją</h1>

    {{ include('user/_form.html.twig') }}

    <a href="{{ path('user_index') }}">Atgal į sąrašą</a>
{% endblock %}
